<h1>Lista de Tarefas</h1>

<table>
  <thead>
    <tr>
      <th>Tarefa</th>
      <th>Descrição</th>
      <th>Data de conclusão</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarefa of listarTarefas">
      <td>{{ tarefa.title }}</td>
      <td>{{ tarefa.description }}</td>
      <td>{{ tarefa.date | date }}</td>
      <td>
        <button routerLink="/editarTarefa/{{ tarefa.id }}">Editar</button>
        <button routerLink="/excluirTarefa/{{ tarefa.id }}">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>

<button routerLink="/criarTarefa">Criar Nova Tarefa</button>
