footer {
  background-color: #1F5FAD;
  color: #fff;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 14px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
